.tarjeta {
    border: solid thin hotpink;
    margin: 2em;
    border-radius: 1em;
    padding: 1em;
    color: blueviolet;
    box-shadow: gray 5px 5px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    text-align: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.mapa{
    width: 30vw;
    height: 300px;
}