<h1>Todos mis amigos</h1>

<ul>
  <li *ngFor="let contacto of contactos">
    Nombre: {{ contacto.nombre }} <br />
    Telefono: {{ contacto.telefono }} <br />
  </li>
</ul>

<h1>Buscar un amigo</h1>
<label>ID</label>
<input type="text" [(ngModel)]="id" />
<button (click)="buscar()">Buscar</button>

<div *ngIf="amigo != null">
  Nombre: {{ amigo.nombre }} <br />
  Telefono: {{ amigo.telefono }} <br />

  <button (click)="borrar()">Eliminar</button>
</div>

<h1>Dar alta a un amigo</h1>
<label>Nombre </label>
<input type="text" [(ngModel)]="nombre" />
<label>Teléfono</label>
<input type="text" [(ngModel)]="telefono" />
<button (click)="alta()">Agregar Contacto</button>
